
---
import asflogo from '../assets/asflogonobackground.png';
import background from '../assets/background.png';
import SocialBar from '../components/SocialBar.astro';
import Card from '../components/Card.astro'
---
<div class="h-[80%]">
	<div class="flex origin-top mx-1 my-2 flex-col md:flex-wrap md:flex-row md:mx-20 md:my-10 ">


		<Card title="Meetings" 
			info="Our typical weekly meetings last about an hour. Members meet to give pitches on securities, discuss the direction of the fund, and vote on decisions within the fund. Guest Speakers: We typically have a guest speaker connect with the club every semester to gain insight and experience from industry professionals. Last semester we were very fortunate to have Texas A&M Graduate and Shelter Growth Capital Partners Founder Dan Sparks speak with us." 
			symbollink="https://static.vecteezy.com/system/resources/previews/051/071/220/non_2x/business-meeting-icon-people-group-sign-teamwork-symbol-vector.jpg" />

		<Card title="Socials" 
			info="Our goal as a club is not just about the markets, but also to find individuals who want to create lifelong connections and friendships. Since this is our mission, we find it necessary to take a break from the typical meetings a couple times per semester." 
			symbollink="https://png.pngtree.com/png-vector/20191120/ourmid/pngtree-team-or-friends-icon-simple-style-png-image_2003096.jpg"/>


		<Card title="The Fund" 
			info="Most of our meetings revolve around managing the ASF Portfolio. The Fund is designed to be an all-weather portfolio, successful in any economic or market condition. ASF Members are allowed to invest in the fund but are not required to." 
			symbollink="https://static.vecteezy.com/system/resources/previews/025/254/920/non_2x/growth-diagram-logo-icon-with-sign-dollar-and-arrow-going-up-line-icon-isolated-on-white-background-success-business-finance-investment-symbol-vector.jpg"/>
	</div>
</div>
<style>
#container {
	font-family: "Atkinson Hyperlegible Next", serif;
		height: 100%;
	}

</style>
