--- 
import ContactCard from './ContactCard.astro'
--- 


<div id="container" class="">

	<h1 class="md:p-10  text-center md:m-10  text-2xl p-4 m-2 bg-white rounded-md border border-red-700">The best way to contact us is through Email or Instagram DM</h1>
	<div class="flex mx-auto  my-2 flex-col md:flex-wrap md:flex-row md:mx-20 md:my-10">
			<ContactCard name="Harrison Hohman" role="President" number="469-503-9870" />
			<ContactCard name="Zander Bare" role="Vice President" number="309-558-7191" />
			<ContactCard name="Kaleb Messer" role="Treasurer" number="214-475-2873" />
			<ContactCard name="Lizzy Jordan" role="Social" number="830-391-6456" />
			<ContactCard name="Sam Yontz" role="Records" number="309-273-4238" />
		</div>
</div>
