---
const {name, number, role} = Astro.props;
---


<div class="w-[80vw] mx-auto md:mx-2 origin-center my-4 flex-1 border-2 border-solid p-3 border-red-800 md:w-1/3 bg-white rounded-md shadow-xl">
	<h1 class="text-center font-bold">{name}</h1>
	<h2 class="text-center text-red-700">{role}</h2>
	<h3 class="text-center ">{number}</h3>
</div>

