---
const {name, number, role} = Astro.props;
---


<div class="bg-white rounded-xl border border-red-700 p-3 w-[10vw] mx-4">
	<h1 class="text-center font-bold">{name}</h1>
	<h2 class="text-center text-red-700">{role}</h2>
	<h3 class="text-center ">{number}</h3>
</div>

