---
import asflogo from '../assets/asflogonobackground.png';
import background from '../assets/background.png';
import SocialBar from '../components/SocialBar.astro';
---

<div id="container" class="h-100%">
	<body>
		<h1 class="md:p-10 text-center md:m-10  text-2xl p-4 m-2 bg-white rounded-md border border-red-700">At Aggie Securities Fund, we meet weekly to discuss markets, develop investment strategies,
			and manage the ASF portfolio. The club is open to Texas A&M students of all majors who are
			interested in markets and want to grow their network. ASF members have the chance to
			contribute to and manage our fund. The club is currently recognized by Texas A&M University.</h1>
	</body>
</div>

<style>
#container {
	font-family: "Atkinson Hyperlegible Next", serif;
		height: 100%;
	}
</style>
