
---
import asflogo from '../assets/asflogonobackground.png';
import background from '../assets/background.png';
---

<div id="container">
	<body>
		<h1 class="text-center text-5xl py-10 text-white mb-3 bg-gradient-to-r from-red-900 via-red-700 to-red-900 sm:text-7xl">RECRUITMENT</h1>
	</body>

	</div>

<style>
#container {
	font-family: "Atkinson Hyperlegible Next", serif;
		height: 100%;
	}
</style>
