
---
import { Image } from 'astro:assets';
import asflogo from '../assets/asflogonobackground.png';
import background from '../assets/background.png';
import recruitmentImage from '../RecruitmentCalendar.png'
---

<div id="container">
		<Image src={recruitmentImage} alt="Recruitment Calendar" class="w-[100vw] md:w-[50vw] origin-center mx-auto"/>
		<div class="origin-center mx-auto"><p class="text-center"><a href="https://tinyurl.com/tamuasfspring2025" class="underline text-red-700 mx-auto origin-center text-center">Apply Here!</a></p></div>
		

	</div>

<style>
#container {
	font-family: "Atkinson Hyperlegible Next", serif;
		height: 100%;
	}
</style>
