
<div class="bg-red-700 w-[100%] h-[5vh] my-0 mx-0">
<footer>
	<br>
	<div class="flex items-center space-x-2 justify-center mt-4 bg-white">
		<p> connect with us! </p><a href="https://www.instagram.com/tamuasf/"><img src="https://static.vecteezy.com/system/resources/previews/008/385/736/non_2x/instagram-social-media-icon-symbol-element-illustration-free-vector.jpg" alt="instagram icon" class="w-[60px] h-[50px] "></a>
	</div>
</footer>
</div>
