---
const { pageTitle, title } = Astro.props;
import SocialBar from '../components/SocialBar.astro'
import Navbar from '../components/Navbar.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
		<title>{pageTitle}</title>
	</head>


	<body class="bg-[#e5e8e8]">
		<Navbar />
		<h1 class="text-center text-5xl sm:text-10xl  py-10 text-white mb-1 bg-gradient-to-r from-red-900 via-red-700 to-red-900 shadow-xl">{title.toString().toUpperCase()}</h1>
		<slot />

	</body>

	<SocialBar />
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
